body {
    font-family: Arial, sans-serif;
    background-color: darkslategray;
  
}
.search-container {
    margin: 20px;
    
}
.artwork-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.artwork-wrapper {
    flex-basis: calc(33.33% - 20px); 
    max-width: 300px;
}
.artwork {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    height: auto; 
    object-fit: cover;
    background-color: white;
    border-radius: 10px;
}
.artwork img {
    width: 300px;
    height: 250px; 
    object-fit: cover; 
    border-radius: 10px;
}
#art {
    height: 750%;
    object-fit: cover;
    width: 300%;
}
button {
    border-radius: 10px;
    height: 40px;
    width: 150px;
}

#search-input{
    width: 400px;
    padding-left: 8px;
    margin-left: 600px;
    height: 34px;
    border-radius: 10px;
  }

.navbar{
    background-image: url(Images/museum\ hill.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1900px;
    height: 400px;   
}

/* #img{
    background-color: black;
    opacity: 0.6;
    width: 100%;
    display: flex;
} */

#suggestions:hover{
    cursor: pointer;
    background-color: #ccc;
}

#suggestions{
    text-align: center;
    background-color: white;
    border-radius: 20px;
    width: 40%;
    margin-left: 520px;
} 

.navtext{
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    padding-left: 550px;
    
}
#navigation{
    display: flex;
    gap: 20%;
}
/* Media Queries */
@media screen and (min-width:280px)and(max-width: 667px) {
    .navbar{
        background-image: url(Images/museum\ hill.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 360px;
        height: 400px;
    }

    .navtext{
        color:white;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        padding-left: 0px;
        
    }
    #art {
        height: 550px;
    }

    .search-container {
        /* margin: 20px; */
        margin: 0px;
        display: flex;
    }

    #search-input{
        width: 100px;
        padding-left: 8px;
        margin-left: 0px;
        height: 30px;
      }
      #img{
        background-color: black;
        opacity: 0.6;
        width: 100%;
        display: flex;
    }
    
}
@media screen and (min-width:668px) and (max-width: 887px) {
    .navbar{
        background-image: url(Images/museum\ hill.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 600px;
        height: 400px;
    }

    .navtext{
        color:white;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        padding-left: 40px;
        
    }
    #art {
        height: 550px;
    }

    .search-container {
        margin: 20px;
        display: flex;
    }

    #search-input{
        width: 400px;
        padding-left: 8px;
        margin-left: 0px;
        height: 30px;
      }
      /* #img{
        background-color: black;
        opacity: 0.6;
        width: 100%;
        display: flex;
    } */
}


    @media screen and (min-width:1024px) and (max-width: 1260px) {
        .navbar{
            background-image: url(Images/museum\ hill.jpg);
            background-size:cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 800px;
            height: 400px;
        }
    
        .navtext{
            color:rgb(6, 6, 6);
            text-decoration: none;
            font-weight: bold;
            font-size: 29px;
            padding-left: 40px;
            
        }
        #art {
            height: 550px;
        }
    
        .search-container {
            /* margin: 20px; */
            display: flex;
            padding: 20px ;
        }
    
        #search-input{
            width: 400px;
            /* padding-left: 58px; */
            margin-left: 0px;
            height: 50px;
          }
        #search-input button{
            width: 400px;
            /* padding-left: 58px; */
            margin-left: 0px;
            height: 50px; 
        }
        #suggestions{
            text-align: center;
            background-color: white;
            border-radius: 20px;
            width: 40%;
            margin-left: 0px;
        } 
    }
    @media screen and (min-width:1280px) and (max-width: 1290px) {
        .navbar{
            background-image: url(Images/museum\ hill.jpg);
            background-size:cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 1205px;
            height: 400px;
        }
    
        .navtext{
            color:rgb(6, 6, 6);
            text-decoration: none;
            font-weight: bold;
            font-size: 29px;
            padding-left: 40px;
            
        }
        #art {
            height: 550px;
        }
    
        .search-container {
            /* margin: 20px; */
            display: flex;
            padding: 20px ;
        }
    
        #search-input{
            width: 600px;
            /* padding-left: 58px; */
            margin-left: 0px;
            height: 50px;
          }
        #search-input button{
            width: 600px;
            /* padding-left: 58px; */
            margin-left: 0px;
            height: 50px; 
        }
        #suggestions{
            text-align: center;
            background-color: white;
            border-radius: 20px;
            width: 400px;
            margin-left: 0px;
        } 
    }