body {
    font-family: Arial, sans-serif;
    background-color: darkslategray;
}
.search-container {
    margin: 20px;
}
.artwork-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    border: 5px;
    color: white;
    border-radius: 25% 50%;
    justify-content: space-around;
    gap: 20px;
}
.artwork-wrapper {
    flex-basis: calc(33.33% - 20px); 
    max-width: 300px;
}

#results{
    border-radius: 13%;
}
 #search-input{
  width: 400px;  
  padding-left: 8px;
  margin-left: 600px;
}
#button{
    height: 45px;
} 
.artwork {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    height: auto; 
    object-fit: cover;
    background-color: white;
    border-radius: 10px;
}
.artwork img {
    width: 300px;
    height: 250px; 
    object-fit: cover; 
    border-radius: 10px;
}
#art {
    height: 750%;
    object-fit: cover;
    width: 300%;
}
button {
    border-radius: 10px;
    height: 40px;
    width: 150px; 
}

input{
    border-radius: 10px;
    height: 40px;
    width: 160px; 
}
a{
    text-decoration: none;
}

.navbar{
    gap: 120px;
    /* position: relative; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    
}
.photo-card{
    background-color: aliceblue;
}

.navtext{
    gap: 10px;
    margin-top: 20px;
    color:white;
}

#body{
   background-color: rgb(44, 183, 183);

}
@media screen and (max-width: 767px) {
    .navbar {
        display: flex;
        gap: 5px;
        margin-right: 5px;
    }
    #art {
        height: 550px;
    }
}
@media screen and (min-width: 768px) and (max-width:1138px) {
    .navbar {
        display: flex;
        gap: 5px;
        margin-right: 5px;
    }
    #art {
        height: 800px;
    }
    input {
        margin-top: 100px;
    }
    button {
        margin-top: 100px;
    }
}
@media screen and (min-width: 992px) {
    .navbar {
        display: flex;
        gap: 50px;
        font-size: larger;
    }
    #art {
        height: 700px;
    }
}